.side-drawer {
	height: 100vh;
	z-index: 99;
	background-color: lightgray;
}

.header-ul {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	list-style-type: none;
}

.header-item {
	display: block;
	text-decoration: none;
	color: rgb(46, 46, 46);

	padding: 1rem 1rem;
}
